<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cattia Soft</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/plugins/fontawesome-free/css/all.min.css}"
          href="/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/dist/css/adminlte.min.css}"
          href="/dist/css/adminlte.min.css">

</head>
</html>