<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/pageheader :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="fragment/navmenu :: navmenu(selctedNavItem='navProductOverview')"/>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Warehouse Management</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                            <li class="breadcrumb-item active">Product Overview</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Product overview</h3>
                            </div>
                            <div class="card-body">
                                <div class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="datatable" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th>Category</th>
                                                    <th>U.M.</th>
                                                    <th>Quantity</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="product : ${productList}">
                                                    <td th:text="${product.code}"/>
                                                    <td th:text="${product.name}"/>
                                                    <td th:text="${product.category.value}"/>
                                                    <td th:text="${product.unitOfMeasurement}"/>
                                                    <td th:text="${product.quantity}"/>
                                                    <td style="white-space: nowrap">
                                                        <form th:action="@{/updateStock}" th:object=${product} method="post" style="display: inline-block;">
                                                            <input class="d-none" name="productId" th:value="*{id}">
                                                            <input class="d-none" name='formAction' value="ADD">
                                                            <button class="btn btn-primary btn-sm" th:id="'btn_addToStock_' + ${product.id}"
                                                                    type="submit" title="Add product to stock"><i class="fa fa-arrow-down"></i>
                                                            </button>
                                                        </form>
                                                        <form th:action="@{/updateStock}" th:object=${product} method="post" style="display: inline-block;">
                                                            <input class="d-none" name="productId" th:value="*{id}">
                                                            <input class="d-none" name="formAction" value="REMOVED">
                                                            <button class="btn btn-danger btn-sm" th:id="'btn_removeFromStock_' + ${product.id}"
                                                                    type="submit" title="Remove product from stock"><i class="fa fa-arrow-up"></i>
                                                            </button>
                                                        </form>

                                                        <form th:action="@{/editProduct}" th:object=${product} method="post" style="display: inline-block;">
                                                            <input class="d-none" name="productId" th:value="*{id}">
                                                            <button class="btn btn-primary btn-sm" th:id="'btn_detail_' + ${product.id}"
                                                                    type="submit" title="Edit product"><i class="fas fa-edit"></i>
                                                            </button>
                                                        </form>

                                                        <form th:if="${product.status.name() == 'ACTIVE' }" th:action="@{/deactivateProduct}" th:object=${product} method="post" style="display: inline-block;">
                                                            <input class="d-none" name="productId" th:value="*{id}">
                                                            <button class="btn btn-danger btn-sm" th:id="'btn_delete_' + ${product.id}"
                                                                    type="submit" title="Deactivate product"><i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </form>

                                                        <form th:if="${product.status.name() == 'INACTIVE' }" th:action="@{/activateProduct}" th:object=${product} method="post" style="display: inline-block;">
                                                            <input class="d-none" name="productId" th:value="*{id}">
                                                            <button class="btn btn-success btn-sm" th:id="'btn_reactivate_' + ${product.id}"
                                                                    type="submit" title="Reactivate product"><i class="fa fa-check"></i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th>Category</th>
                                                    <th>U.M.</th>
                                                    <th>Quantity</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="fragment/copyright :: copyright"/>
</div>

<div th:replace="fragment/pagefooter :: pagefooter"/>

<script th:inline="javascript">
    var alertVisible = [[${alert.visible}]];
    var alertType = [[${alert.type}]];
    var alertMessage = [[${alert.message}]];
</script>

<script th:src="@{/custom/js/custom-toast.js}"
        src="/custom/js/custom-toast.js"></script>

</body>
</html>